* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", system-ui;
}

:root {
  --corPrincipal: #1B5C88;
  --arredondamento: 10px;
  --sombra: 0 4px 4px 2px #00000025;
}

body {
  background-color: #9EA4B0;
}



.icone_home {
  color: #ffffff;
}

header h1 {
  color: #ffffff;
}

.container_cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1440px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  height: 100%;
}

.icone_home {
  height: 50px;
  cursor: pointer;
}

.box_busca {
  position: relative;
  width: 60%;
  max-width: 500px;
  margin: 0 10px;
}

.icone_lupa {
  height: 24px;
  position: absolute;
  left: 9px;
  top: 9px;
  fill: #b0b0b0;
  cursor: pointer;
}

.logo {
  height: 60px;
}

.campo_busca {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  padding-left: 2.5rem;
  font-size: 1rem;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}


.box_cadastro input[type="text"],
.box_cadastro textarea {
  border-radius: 10px;
  border: solid 1px #B3B3B3;
  font-size: 18px;
  padding: 0.5rem 1rem;
}


.box_cadastro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  cursor: pointer;
  gap: 1rem;
  /* background-color: aquamarine; */
}

.cadastro_coluna1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/* CADASTRO */
.container_lista,
.container_cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_lista h2,
.container_cadastro h2 {
  font-size: 48px;
  margin-top: 100px;
}

.container_lista hr,
.container_cadastro hr {
  width: 300px;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: var(--corPrincipal);
  margin-bottom: 100px;
}

.itens_cadastro {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  cursor: pointer;
  /* background-color: aquamarine; */
}



.cadastro_coluna2 {
  /* background-color: lightskyblue; */
  width: 50%;
}

.categoria_img {
  display: flex;
  justify-content: space-between;
}



.cadastro_coluna2,
.valor,
.img,
.categoria,
.item,
.preco {
  display: flex;
  flex-direction: column;
}

.box_cadastro label {
  font-size: 20px;
}


.box_cadastro input[type="text"] {
  height: 40px;
}

.categoria {
  width: 30%;
}

.box_cadastro textarea {
  resize: none;
  height: 150px;
  border-radius: 20px;
}

.botaoSubmit {
  font-size: 24px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: var(--corPrincipal);
  padding: 10px 200px;
  font-family: var(---fontcomplementar);
  cursor: pointer;
  color: #ffffff;
  border: #ffffff;
}

.img {
  width: 20%;
}

.img svg {
  width: 30px;
}

input[type="file"] {
  display: none;
}

.img div {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #B3B3B3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}


.preco input {
  height: 30px;
  border-radius: 10px;
  border: solid 1px #B3B3B3;
  padding: 0 5px;
  width: 100%;
}




/* LISTA */
table {
  /* background-color: aquamarine; */
  width: 90%;
  max-width: 1200px;
  text-align: center;
  border-collapse: collapse;
}

th {
  border-bottom: solid 2px var(--corPrincipal);
  padding: 0 3px 5px 3px;
  font-size: 18px;
}

td {
  padding: 10px 3px 5px 3px;
  border-bottom: solid 2px #B3B3B350;
}

table svg {
  width: 30px;
  cursor: pointer;
}


/* RODAPE */
footer {
  width: 100%;
  height: 60px;
  background-color: #1B5C88;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  color: #ffffff;
}





/* MEDIA */
@media screen and (max-width: 1080px) {
  table {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .box_cadastro {
    flex-direction: column;
  }

  .cadastro_coluna1,
  .cadastro_coluna2 {
    width: 100%;
  }

  .botaoSubmit {
    padding: 10px 100px;
  }

  /* LISTA */
  table {
    text-align: left;
    max-width: 460px;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: var(--arredondamento);
    border: solid 1px var(--corPrincipal);
    box-shadow: var(--sombra);
    margin: 30px 10px;
    padding: 0.5rem;
  }

  td {
    border-bottom: none;
  }

  td::before {
    content: attr(data-cell);
    font-weight: 600;
    border-bottom: solid 2px #B3B3B350;
  }

  td:last-child {
    align-self: flex-end;
  }


  .categoria_img {
    align-items: center;
    gap: 1rem;
  }


}