header {
  background-color: #1B5C88;
  padding: 1rem 0
}


header svg {
  color: #ffffff;

}

.icone_lupa {
  color: #000000;
  height: 24px;
  position: absolute;
  left: 9px;
  top: 9px;
  fill: #b0b0b0;
}

header h1 {
  color: white;
}




.container_cabecalho {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.conteudo-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icone_home {
  height: 50px;
}

.box_busca {
  position: relative;
  width: 500px;
  height: 42px;
}

.logo {
  height: 60px;
}

.campo_busca {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  padding-left: 2.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .me-auto {
    align-items: center;
  }

  .DomusEletro {
    margin: 1rem 0;
    width: 20px;
  }

  .logoDomus {
    margin: 1rem 0;
  }

  .box_busca {
    width: 100%;
  }

  .conteudo-nav .box_busca {
    margin: 20px 0;
  }

  button .navbar-toggler-icon {
    background-image: url(../../assets/bars-solid-full.svg);
  }

  .navbar-toggler {
    border-color: #ffffff;
  }

  .navbar-toggler:focus {
    box-shadow: 0px 0px 5px lightblue;
  }

  .categoria_img {
    margin-top: 10px;
  }
}